@font-face {
  font-family: FreeSans;
  src: url(fonts/FreeSans.ttf) format("truetype");
}
/* @font-face {
  font-family: FreeSansBold;
  src: url(fonts/FreeSansBold.ttf) format("truetype");
} */
@font-face {
  font-family: NeueMachina-Regular;
  src: url(fonts/NeueMachina-Regular.otf) ;
}
@font-face {
  font-family: NeueMachina-Light;
  src: url(fonts/NeueMachina-Light.otf) ;
}
@font-face {
  font-family: NeueMachina-Ultrabold;
  src: url(fonts/NeueMachina-Ultrabold.otf) ;
}
@font-face {
  font-family: 'FreeSansMedium';
  font-style: normal;
  font-weight: normal;
  src: local('fonts/FreeSans.woff'), url('fonts/FreeSans.woff') format('woff');
  }
@font-face {
  font-family: 'FreeSansBold';
  font-style: normal;
  font-weight: normal;
  src: local('fonts/FreeSansBold.woff'), url('fonts/FreeSansBold.woff') format('woff');
  }
*{
  font-family:NeueMachina-Light, sans-serif;
  box-sizing: border-box;
}
:root{
  font-size: 62.5%;
}

svg:not(:root) {
  overflow-clip-margin: content-box;
  overflow: hidden;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
a:-webkit-any-link, Link:-webkit-any-Link{
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
}
video {
  object-fit: contain;
  overflow-clip-margin: content-box;
  overflow: clip;
}
img, svg {
  display: block;
}
/* img[Attributes ] {
  width: 461px;
  aspect-ratio: auto 461 / 69;
  height: 69px;
} */
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
header {
  display: block;
}
body {
  line-height: 1.5;
  font-family: neue-haas-grot-text, sans-serif;
  font-size: 1.4rem;
  letter-spacing: -.01em;
  margin: 0;
  color: #0c0c0c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --content-padding: 2.2rem;
}
body.is-unscrollable {
  overflow: hidden;
}
.number__primary-links {
  counter-reset: footer-primary-links-counter;
}

.navigation.is-mobile-navigation-active .navigation__links-wrapper {
    opacity: 1;
    visibility: visible;
}

.navigation.is-home-link-shown .navigation__home-link-wrapper {
  margin: 0 0.8rem 0 0;
  width: 3.6rem;
  opacity: 1;
  visibility: visible;
}
.is-home-link-shown .navigation__home-link-wrapper {
  opacity: 1;
  visibility: visible;
}

@media screen and (min-width: 768px){
  body {
      font-size: 1.6rem;
  }
  
} 