@font-face {
  font-family: pp-neue-machina-plain;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/pp-neue-machina-plain-regular.woff2') format("woff2");
}

@font-face {
  font-family: pp-neue-machina-plain;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/pp-neue-machina-plain-regular.woff2') format("woff2");
}
@font-face {
  font-family: neue-haas-grot-text;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/neue-haas-grot-text-55-roman.woff2') format("woff2");
}
@font-face {
  font-family: neue-haas-grot-text;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('fonts/neue-haas-grot-text-65-medium.woff2') format("woff2");
}
*{
  box-sizing: border-box;
}
:root{
  font-size: 62.5%;
}
img, svg {
  display: block;
}
h1 {
  line-height: 1;
  font-family: neue-haas-grot-text,serif;
  font-size: 4.2rem;
  font-weight: 400;
  font-feature-settings: "ss12" on;
  letter-spacing: -.01em;
  text-transform: uppercase;
  text-transform: none;
}
header {
  display: block;
}
body {
  line-height: 1.5;
  font-family: neue-haas-grot-text, sans-serif;
  font-size: 1.4rem;
  letter-spacing: -.01em;
  margin: 0;
  color: #0c0c0c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --content-padding: 2.2rem;
}
body.is-unscrollable {
  overflow: hidden;
}
.number__primary-links {
  counter-reset: footer-primary-links-counter;
}
.navigation__home-link-wrapper {
  transition: margin .3s ease-in-out,width .3s ease-in-out,opacity .3s ease-in-out,visibility .3s ease-in-out;
  width: 4.2rem;
  box-shadow: 0 0.4rem 2rem rgba(0,0,0,.08);
  z-index: 200;
  opacity: 0;
  visibility: hidden;
}
.is-home-link-shown .navigation__home-link-wrapper{
  opacity: 1;
  visibility: visible;
}
.navigation.is-mobile-navigation-active .navigation__links-wrapper {
    opacity: 1;
    visibility: visible;
}
.section{
  position: relative; 
}
.section--with-background {
  margin: unset;
}
.section--large-margin {
  margin: 8rem 0;
}
.section--dark {
  background-color: #0c0c0c;
}
.section--small-margin {
  margin: 6rem 0;
}
.section__anchor {
  position: absolute;
  top: -7.2rem;
}
strong {
  font-weight: bold;
}
.legal-content {
  padding: 9rem var(--content-padding) 6rem;
}
.legal-content__inner {
  max-width: 92.5rem;
  margin: 0 auto;
}
.rich-text-paragraph {
  font-family: neue-haas-grot-text,sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 160%;
  letter-spacing: -.01em;
}
.rich-text-bold {
  font-weight: 500;
  font-family: neue-haas-grot-text,sans-serif;
}
.rich-text-link {
  text-decoration: underline;
  color: #0c0c0c;
}
.values-module__values {
  padding: 0;
  margin: 0;
  list-style: none;
  counter-reset: values-module-counter;
}

@media screen and (min-width: 768px){
  body {
    font-size: 1.6rem;
  }
  h1 {
   font-size: 8.5rem;
  }
  .navigation.is-home-link-shown .navigation__home-link-wrapper {
    margin: 0 0.8rem 0 0;
    width: 3.6rem;
    opacity: 1;
    visibility: visible;
  }
  .section__anchor {
    top: -12.8rem;
  }
  .section--large-margin {
    margin: 16rem 0;
  }
  .section--small-margin {
    margin: 12rem 0;
  }
  .legal-content {
    padding: 22rem var(--content-padding) 12rem;
  }
  .rich-text-paragraph {
      font-size: 1.9rem;
  }
  
} 